.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 33px);
  background-color: aqua;
  gap: 20px 0px;
  padding: 5px;
}
.item {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
